@import url(../estilos/variaveis.css);

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--branco);
    font-family: "Poppins", serif;
}

 /*-----  HEADER -----*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

header img {
    width: 150px;
    height: 60px;
    margin-top: 10px;
}

.header-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 4em;
    text-decoration: none;
}

.header-links a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.header-links a:hover{
    color: var(--vermelho-principal);
}

.header-btn button {
    width: 140px;
    height: 45px;
    border: none;
    background-color: var(--vermelho-principal);
    color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s;
    margin: 3px;
}

.header-btn button:hover {
    scale: 1.08;
}

 /*----- HOME -----*/

 .home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
 }

 .home-descricao {
    margin: 0 4em;
 }

 .home-descricao h1 {
    font-weight: 300;
    margin-bottom: 1em;
 }
 
 .home-descricao span {
    color: var(--vermelho-principal);
 }

 .home-descricao h2 {
    font-weight: 400;
    font-size: 20px;
    width: 20em;
    margin-bottom: 2em;
 }

 .home-descricao button {
    width: 200px;
    height: 60px;
    border: none;
    background-color: var(--vermelho-principal);
    color: var(--branco);
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s;
 }
 
 .home-descricao button:hover {
    scale: 1.08;
 }


.home-img img {
    width: 45em;
    margin-left: 20px;
}

.circulo {
    position: absolute;
    top: 2;
    right: -200px;
    width: 750px;
    height: 620px;
    background-color: var(--vermelho-circulo);
    z-index: -1;
    border-radius: 50%;
}