@import url(../estilos/variaveis.css);

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--branco);
    font-family: "Poppins", serif;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
 }

 .home-descricao {
    margin: 0 4em;
 }

 .home-descricao h1 {
    font-weight: 300;
    margin-bottom: 1em;
 }
 
 .home-descricao span {
    color: var(--vermelho-principal);
 }

 .home-descricao h2 {
    font-weight: 400;
    font-size: 20px;
    width: 20em;
    margin-bottom: 2em;
 }

 .home-descricao .btn-link {
   width: 200px;
   height: 60px;
   text-align: center; 
   line-height: 60px; 
   border: none;
   background-color: var(--vermelho-principal);
   color: var(--branco);
   font-size: 16px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   transition: 0.2s;
   display: inline-block; 
   text-decoration: none; 
}

.home-descricao .btn-link:hover {
   background-color: var(--vermelho-circulo);
   scale: 1.03;
}


.home-img img {
    width: 45em;
    margin-left: 20px;
}

.circulo {
    position: absolute;
    top: 2;
    right: -200px;
    width: 750px;
    height: 620px;
    background-color: var(--vermelho-circulo);
    z-index: -1;
    border-radius: 50%;
}